{% extends 'base.html' %}

{% block content %} 
<link rel="stylesheet" href="../static/css/sidetabs.css">
<link rel="stylesheet" href="../static/css/textboxes.css">
<link rel="stylesheet" href="../static/css/buttons.css">
<link rel="stylesheet" href="../static/css/popup.css">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Page content -->
<h1>Get in touch..</h1>
<form id="frm1" action="/add_project" method="POST">
    <input name="proj-name" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Project Name">
    <input name="purpose" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Project Name">
    <input name="objective" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Project Name">
    <input name="stack" type="text" class="imgURLText" size="70" id="urlText" placeholder="Stack">
    <input name="proj-start" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Project Name">
    <input name="proj-end" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Project Name">
    <input name="gh-link" type="text" class="imgURLText" size="70" id="urlText" placeholder="Github Link">
    <input name="final" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Project Name">
    <textarea name="description" class="imgURLText" id="Textbox" cols="20" wrap="hard" placeholder="Description..."></textarea>
    <input class="imgURLText" type="submit" />
</form>
</div>
{% endblock %}
