{% extends 'base.html' %}

{% block content %} 
<link rel="stylesheet" href="../static/css/sidetabs.css">
<link rel="stylesheet" href="../static/css/textboxes.css">
<link rel="stylesheet" href="../static/css/buttons.css">
<link rel="stylesheet" href="../static/css/popup.css">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Page content -->
<h1>Add Project...</h1>
<form id="frm1" action="/add_project" method="POST">
    <input name="name" type="text" class="imgURLText" size="70" id="FirstName" maxlength="20" placeholder="Project Name...">
    <textarea name="purpose" id="Firstname" class="imgURLText" maxlength="1000" placeholder="Project Purpose..."></textarea>
    <textarea name="objective" id="Firstname" class="imgURLText" maxlength="1000" placeholder="Project Objective..."></textarea>
    <input name="stack" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Tech Stack Used...">
    <input name="start" type="date" class="imgURLText" size="70" id="FirstName">
    <input name="end" type="date" class="imgURLText" size="70" id="FirstName">
    <input name="github" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Github Link">
    <input name="result" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Result...">
    <input class="imgURLText" type="submit" />
</form>
</div>
{% endblock %}
