{% extends 'base.html' %}

{% block content %} 
<link rel="stylesheet" href="../static/css/sidetabs.css">
<link rel="stylesheet" href="../static/css/textboxes.css">
<link rel="stylesheet" href="../static/css/buttons.css">
<link rel="stylesheet" href="../static/css/popup.css">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Page content -->
<h1>Add A Project...</h1>
<form id="frm1" action="/add_project" method="POST">
    <input name="name" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Project Name...">
    <input name="purpose" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Project Purpose...">
    <input name="objective" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Project Objective...">
    <input name="stack" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Tech Stack Used...">
    <input name="start" type="date" class="imgURLText" size="70" id="FirstName">
    <input name="end" type="date" class="imgURLText" size="70" id="FirstName">
    <input name="github" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Github Link">
    <input name="result" type="text" class="imgURLText" size="70" id="FirstName" placeholder="Result...">
    <input class="imgURLText" type="submit" />
</form>
</div>
{% endblock %}
