{% extends 'base.html' %}

{% block content %} 
<link rel="stylesheet" href="../static/css/sidetabs.css">
<!-- Side navigation -->
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'About')">About</button>
    <button class="tablinks" onclick="openTab(event, 'Qualifications')">Qualifications</button>
    <button class="tablinks" onclick="openTab(event, 'Experience')">Experience</button>
</div>

<div id="About" class="tabcontent">
<h3>London</h3>
<p>London is the capital city of England
</div>

<div id="Qualifications" class="tabcontent">
<h3>Paris</h3>
<p>Paris is the capital of France.</p>
</div>

<div id="Experience" class="tabcontent">
<h3>Tokyo</h3>
<p>Tokyo is the capital of Japan.</p>
</div> 
{% endblock %}