{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="../static/css/sidetabs.css">
<link rel="stylesheet" href="../static/css/textboxes.css">
<link rel="stylesheet" href="../static/css/buttons.css">
<link rel="stylesheet" href="../static/css/popup.css">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Page content -->
<div>
    <h1>Get in touch..</h1>
    <form id="frm1" action="/send_contact" method="POST">
        <input name="name" type="text" class="imgURLText" size="70" id="FirstName" placeholder="First Name">
        <input name="email" type="text" class="imgURLText" size="70" id="urlText" placeholder="Last Name">
        <input name="subject" type="text" class="imgURLText" size="70" id="urlText" placeholder="Relation to Toby">
        <textarea name="message" class="imgURLText" id="ReviewTextbox" cols="20" wrap="hard" placeholder="Write your review..."></textarea>
        <input class="imgURLText" type="submit" />
    </form>
    <h1 id="Sub-heading">Social media</h1>
    <div style="display:flex; justify-content:center;">
        <a href="https://www.linkedin.com/in/toby-pickard-84bb53175" class="fa fa-linkedin"></a>
        <a href="https://www.facebook.com/toby.pickard" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/tobypickard" class="fa fa-instagram"></a>
        <a href="https://github.com/TobyPickard" class="fa fa-github"></a>
    </div>
</div> 
{% endblock %}
