{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to the education page{% endblock %}</h1>
        <h2>Qualifications</h2>
            <h3>&emsp;- Secondary</h3>
                <h4>&emsp;&emsp;- GCSE's</h4>
                    <body>&emsp;&emsp;&emsp;&emsp;come back here!!</body>
                <h4>&emsp;&emsp;- A-levels</h4>
                    <body>&emsp;&emsp;&emsp;&emsp;- C AS Chemistry<br>
                        &emsp;&emsp;&emsp;&emsp;- A* Mathematics<br>
                        &emsp;&emsp;&emsp;&emsp;- A Further Mathematics<br>
                        &emsp;&emsp;&emsp;&emsp;- C Physics</body>
            <h3>&emsp;- University</h3>
                <h4>&emsp;&emsp;- Degree</h4>
                <body>&emsp;&emsp;&emsp;&emsp;- 1st Class MEng (Hons) in Mechatronic and Robotic Engineering, The University of Sheffield, GB</body>
                <h4>&emsp;&emsp;- Relevant Courses</h4>
                <body>&emsp;&emsp;&emsp;&emsp;- Global Engineering Challenge (1st Year)<br>
                    &emsp;&emsp;&emsp;&emsp;- Engineering Your Hired! (2nd Year)<br>
                    &emsp;&emsp;&emsp;&emsp;- Computer systems and applications (2nd Year)<br>
                    &emsp;&emsp;&emsp;&emsp;- Intelligent Systems (3rd year)<br>
                    &emsp;&emsp;&emsp;&emsp;- Real-time Embedded Systems (3rd year)<br>
                    &emsp;&emsp;&emsp;&emsp;- Optimisation: Theory, algorithms, and applications (4th year)<br>
                    &emsp;&emsp;&emsp;&emsp;- Data Modelling and Machine Intelligemce (4th year)<br>
                    &emsp;&emsp;&emsp;&emsp;- Robotics and autonomous systems (4th year)</body>

        <h2>University Projects</h2>
            <h3>&emsp;- 1st Year</h3>
                <h4>&emsp;&emsp;- Microcontroller project (self-driving mini-car)</h4>
            <h3>&emsp;- 2nd Year</h3>
                <h4>&emsp;&emsp;- Library system group project</h4>
            <h3>&emsp;- 3rd year</h3>
                <h4>&emsp;&emsp;- Third year grouop project (Industry 4.0 factory floor)</h4>
                <h4>&emsp;&emsp;- Real time embedded systems project (micro controller board GPIO stuff)</h4>
                <h4>&emsp;&emsp;- Fuzzy logic project</h4>
            <h3>&emsp;- 4th year</h3>
                <h4>&emsp;&emsp;- Final year project (Drone collision avoidance simulation)</h4>
                <h4>&emsp;&emsp;- Robotics lua project </h4>
{% endblock %}