{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to professional history page {% endblock %}</h1>
        <h2>Job Role</h2>
        <h2>Assignment history</h2>
        <h2>Professional Qualifications and Training</h2>
            <h3>&emsp;- Training</h3>
                <h4>&emsp;&emsp;- Badges</h4>
                <h4>&emsp;&emsp;- Training Courses</h4>
            <h3>&emsp;- Qualifications (certifications)</h3>
        <h2>Project History</h2>
            <h3>&emsp;- AI Factory</h3>
            <h3>&emsp;- Techmap (voluntary)</h3>
            <h3>&emsp;- Current</h3>
{% endblock %}