{% extends 'base.html' %}{% block content %}
<link rel="stylesheet" href="../static/css/sidetabs.css">
<link rel="stylesheet" href="../static/css/textboxes.css">
<link rel="stylesheet" href="../static/css/buttons.css">
<!-- Side navigation -->
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'View')">View</button>
    <button class="tablinks" onclick="openTab(event, 'Post')">Post</button>
</div>

<div id="View" class="tabcontent">
<h3>London</h3>
<p>London is the capital city of England
</div>

<div id="Post" class="tabcontent">
    <form id="frm1" action="/review" method="POST">
        <input name="first_name" type="text" class="imgURLText" size="70" id="FirstName" placeholder="First Name">
        <input name="last_name" type="text" class="imgURLText" size="70" id="urlText" placeholder="Last Name">
        <input name="relation" type="text" class="imgURLText" size="70" id="urlText" placeholder="Relation to Toby">
        <textarea name="review" class="imgURLText" id="ReviewTextbox" cols="20" wrap="hard" placeholder="Write your review..."></textarea>
        <input class="center" type="submit" />
    </form>

</div>

<script src="/static/js/reviewPage.js"></script>
{% endblock %}