{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="../static/css/sidetabs.css">
<link rel="stylesheet" href="../static/css/textboxes.css">
<link rel="stylesheet" href="../static/css/buttons.css">
<link rel="stylesheet" href="../static/css/popup.css">
<link rel="stylesheet" href="../static/css/style.css">

<h1>Reviews</h1>

<input class="imgURLText" type="button" value="Post review" onclick="openForm()" /><br>

{% for review in reviews %}
    <h4 class="reviews">
        Name: {{ review.name }} <br>
        Relation: {{ review.relation }}<br>
        Review: {{ review.review }}<br>
        Date created: {{ review.date_created}}<br>
        --------------------------------------<br>
    </h4>
{% endfor %}

<div id="myForm" class="form-popup">
    <form id="frm1" action="/review_process" method="POST">
        <input name="first_name" type="text" class="imgURLText" size="70" id="FirstName" placeholder="First Name">
        <input name="last_name" type="text" class="imgURLText" size="70" id="urlText" placeholder="Last Name">
        <input name="relation" type="text" class="imgURLText" size="70" id="urlText" placeholder="Relation to Toby">
        <textarea name="review" class="imgURLText" id="ReviewTextbox" cols="20" wrap="hard" placeholder="Write your review..."></textarea>
        <input class="imgURLText" type="submit" />
        <input class="imgURLText" type="button" value="Cancel" onclick="closeForm()" />
    </form>

</div>
{% endblock %}