{% extends 'base.html' %}

{% block content %} 
<link rel="stylesheet" href="../static/css/sidetabs.css">
<!-- Side navigation -->

<div class="tab">
    {% for item in data %}
        <button class="tablinks" onclick="openTab(event, '{{item.id}}')">{{item.id}}: {{item.name}}</button>
    {% endfor %}
</div>

<!-- Put this in a for loop and print all my projects -->
{% for item in data %}
    <div id={{item.id}} class="tabcontent">
            <li>{{item.id}}: {{item.name}}</li>
            <li>{{item.purpose}}</li>
            <li>{{item.objective}}</li>
            <li>{{item.stack}}</li>
            <li>{{item.start}}</li>
            <li>{{item.end}}</li>
            <li>{{item.result}}</li>
            <li>{{item.github}}</li>
    </div>
{% endfor %}
{% endblock %}
