{% extends 'base.html' %}

{% block content %} 
<link rel="stylesheet" href="../static/css/sidetabs.css">
<!-- Side navigation -->

<div class="tab">
    {% for item in data %}
        <button class="tablinks" onclick="openTab(event, '{{item.id}}')">{{item.id}}: {{item.name}}</button>
    {% endfor %}
    <!-- <button class="tablinks" onclick="openTab(event, 'test')">+Add Project</button> -->
    <a href="{{ url_for('admin_add_project')}}" style="text-decoration:none">
        <button class="tablinks"> +Add Project</button>
    </a>
</div>

<!-- Put this in a for loop and print all my projects -->
{% for item in data %}
    <div id={{item.id}} class="tabcontent">
        <li>{{item.id}}: {{item.name}}</li>
        <li>{{item.purpose}}</li>
        <li>{{item.objective}}</li>
        <li>{{item.stack}}</li>
        <li>{{item.start}}</li>
        <li>{{item.end}}</li>
        <li>{{item.result}}</li>
        <li>{{item.github}}</li>
        <form id="frm1" action="/delete_project" method="POST">
            <input type="hidden" name="id" value="{{ item.id }}">
            <button class="imgURLText" type="submit">Delete Project</button>
        </form>
        <form id="frm1" action="/admin_edit_project" method="POST">
            <input type="hidden" name="id" value="{{ item.id }}">
            <input type="hidden" name="name" value="{{ item.name }}">
            <input type="hidden" name="purpose" value="{{ item.purpose }}">
            <input type="hidden" name="objective" value="{{ item.objective }}">
            <input type="hidden" name="stack" value="{{ item.stack }}">
            <input type="hidden" name="start" value="{{ item.start }}">
            <input type="hidden" name="end" value="{{ item.end }}">
            <input type="hidden" name="result" value="{{ item.result }}">
            <input type="hidden" name="github" value="{{ item.github }}">
            <button class="imgURLText" type="submit">Edit Project</button>
        </form>
    </div>
{% endfor %}
{% endblock %}
