{% extends 'base.html' %}

{% block content %} 
<link rel="stylesheet" href="../static/css/sidetabs.css">
<!-- Side navigation -->
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'About')">About</button>
    <button class="tablinks" onclick="openTab(event, 'Qualifications')">Qualifications</button>
    <button class="tablinks" onclick="openTab(event, 'Experience')">Experience</button>
</div>

<!-- Put this in a for loop and print all my projects -->
<div id="About" class="tabcontent">
    <h3>London</h3>
    <p>London is the capital city of England
</div>
{% endblock %}
